@font-face {
    font-family: pixel;
    src: url(../../fonts/alagard-webfont.woff);
}

.friendsListDiv {

    position: fixed;

    left: calc(100vw - 300px);
    top: 84px;

    max-height: 900px;

    height : calc(100vh - 84px);
    width : 300px;

    background-image: url("../../images/friend_list/friend_list.png");
    
}

.friendsList {

    font-family: pixel;
    color: white;

    margin:  48px 33px 0px 48px;

    max-height: calc(900px - 33px);
    height: calc(100vh - 84px - 33px);

    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

}


.friendsList::-webkit-scrollbar { /* WebKit */

    width: 0;
    height: 0;

}

.FLFold {

    position: relative;
    display: inline-flex;
    
}

.friendsListFolderTitle {

    font-size: 22px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    margin-left: 10px;

}

.FLFolder {

    cursor: pointer;

}

.contact {

    display: inline-flex;
    line-height: 26px;

}

.contact > img {

    position: relative;
    width: 32px;
    height: 30px;

}

.contact > p {

    position: relative ;
    font-size: 20px;
    width: 100px;

}

.contact > p.offline {

    color: lightgrey;

}

.FLFirstIcon {
    
    display: inline-flex;

    -webkit-transform: translate(-97px, 40%);
    transform: translate(-97px, 40%);
    margin-left: 125px;

}

.FLSecondIcon {

    display: inline-flex;
    
    -webkit-transform: translate(-63px, 40%);
    transform: translate(-63px, 40%);
    margin-left: -25px;

}

.friendsListAddForm {

    width: 100%;
    text-align: center;

}

.friendsListAddInput {

    width: 90%;
    box-sizing: border-box;
    margin-top: 15px;

    border-radius: 4px;
}

.friendsListAddState{

    font-size: 16px;
    margin-bottom: 25px;

}

.friendsListLobby {

    justify-content: center;
    text-align: center;
    align-content: center;

}

.friendsListLobbyAvatars {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;

}

.friendsListLobbyAvatarParent {
    position: relative;
    top: 0;
    left: 0;
}

.friendsListLobbyAvatar {
    position: relative;
    top: 0;
    left: 0;
    width: 48px;

}

.friendsListLobbyAvatarCross {
    cursor: pointer;
    position: absolute;
    width: 24px;
    top: 26px;
    left: 26px;
}

.buttonAcceptRefuseLobby {

    margin-left: 10px;
    margin-right: 10px;

    box-sizing: border-box;

    border-radius: 8px;
    border-color: #737da0;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);

    color: white;
    font-family: pixel;
    font-style: bold;
    font-size: 100%;
    background-color: #4d5fa0;
    
    cursor: pointer;
}

.buttonAcceptRefuseLobby:hover {

    border-color: #5264a5;
    background-color: #2d46a3;
    
}