.playCasterPlay {

    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);


    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);

    box-shadow: black;

    color: white;
    font-family: pixel;
    font-style: bold;
    font-size: 175%;
    
}

@media screen and (max-height: 600px) {

    .playCasterPlay {

        transform: translate(-50%, -100px);
        -webkit-transform: translate(-50%, -100px);
        
    }

}

@media screen and (max-width: 1300px) {

    .playCasterPlay {
        transform: translate(-50%, -100px);
        -webkit-transform: translate(-50%, -100px);
    }
    
}