.back-chessboard {
    position: absolute;

    left: calc(50vw);
    top: calc(50vh);
    
    transform: translate( -50% , -50%);
    -webkit-transform: translate( -50% , -50%);

}

.background {
    background-image: url("../../images/game_screen/chess_board/bones_board.png");
    background-size: 656px;
    width: 656px;
    height: 656px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.chess-piece {
    width: 64px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
}

.chess-piece:hover {
    cursor: grab;
}

.chess-piece:active {
    cursor: grabbing;
    width: calc(100% / 8);
    height: calc(100% / 8);
}

.chessboard {
    width: 512px;
    height: 512px;
    /*padding: 83px;*/
    
    position: relative;

    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

.black {
    float: left;
    width: calc(100% / 8);
    height: calc(100% / 8);
    /*background-color: #76211b;*/
    background-color: #6c81bb;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.white {
    float: left;
    width: calc(100% / 8);
    height: calc(100% / 8);
    /*background-color: #c26d46;*/
    background-color: #a7b5db;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}

.lastMove {
    background-color: rgba(255, 238, 0, 0.25);
}

.piece {
    width: calc(100% / 8);
    height: calc(100% / 8);
}